<%- include('../partials/header.ejs') %>
<h1>Morning report</h1>

<form method="POST">
  <label>Sleep duration (hours with 2 decimals e.g. 7.54)</label>
  <input type="number" name="sleepDuration" min="0" max="24" step="0.01" />
  <label>Sleep quality (use the slider to select a value from 1 to 5, where 1 corresponds to very poor and 5 corresponds to excellent)</label>
  <input type="range" name="sleepQuality" min="1" max="5" />
  <label>General mood (use the slider to select a value from 1 to 5, where 1 corresponds to very poor and 5 corresponds to excellent)</label>
  <input type="range" name="mood" min="1" max="5" />
  <label>Report values for the following date (format dd.mm.yyyy)</label>
  <input type="date" name="date" value="<%= (new Date()).toISOString().substr(0, 10) %>" />
  <input type="submit" value="Submit" />
</form>
<%- include('../partials/footer.ejs') %>
