<% if (errors && errors[attribute]) { %>
  <ul>
      <% Object.values(errors[attribute]).forEach((err) => { %>
          <li style="color: #8c3d27;"><%= err %></li>
      <% }); %>
  </ul>
  <% } %>
