<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
  </head>
  <body>
    <div class="container">
      <% if (user) { %>
        <nav>
          <div style="margin-bottom: 20px; margin-right: 20px; display: inline; "><a href="/">Home</a></div>
          <div style="margin-bottom: 20px; margin-right: 20px; display: inline; ">Logged in as <%= user.email %></div>
          <form method="POST" action="/auth/logout" style="display: inline;">
            <input type="submit" value="Log out" />
          </form>
        </nav>
      <% } else { %>
        <nav>
          <div style="margin-bottom: 20px; margin-right: 20px; display: inline; "><a href="/">Home</a></div>
        </nav>
      <% } %>
