<%- include('./partials/header.ejs') %>
<h1>Self Monitor</h1>

<p>The application provides users an opportunity to report their behavior daily. Keep track of your mood, study time, exercise routines and more. Summary page will provide useful information about your behavior over the span of a week or a month.</p>

<% if (moodAverages && moodAverages[todayString]) { %>
  <p>Average mood today: <%= moodAverages[todayString].avgMood %></p>
<% } else { %>
  <p>No data on mood today yet</p>
<% } %>

<% if (moodAverages && moodAverages[yesterdayString]) { %>
  <p>Average mood yesterday: <%= moodAverages[yesterdayString].avgMood %></p>
<% } else { %>
  <p>No data on mood from yesterday</p>
<% } %>

<% if (showTrend) { %>
  <% if (moodTrend > 0) { %>
    <p>Things are looking bright today</p>
  <% } else if (moodTrend < 0) { %>
    <p>Things are looking gloomy today</p>
  <% } else { %>
    <p>Average mood is the same as yesterday</p>
  <% } %>
<% } %>

<p>
  <a style="margin-right: 5x;" href="/behavior/reporting">Report!</a>
  <a href="/behavior/summary">View summary!</a>
</p>

<p>
  <a style="margin-right: 5px;" href="/auth/login">Login</a>
  <a  href="/auth/registration">Register</a>
</p>
<%- include('./partials/footer.ejs') %>
